{% extends "base.html" %}
{% block content %}
   
  <div class="container">
    <h1>Uusi oppiaine arvioitavaksi</h1>
    <form action="{{base_path}}/aineenluonti" method="POST">
      <div class="form-group">
        <label>Oppiaine</label>
        <div class="col-md-10">
            <input type="text" name="nimi">
        </div>
      </div>
    
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Lisää aine</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
