<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>
            {% block title %}
            Todistus
            {% endblock %}
            
        </title>
        {% block head %}
        
       <link href="{{base_path}}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        {% endblock %}
        
    </head>
    
    <div class="form-group">
        <a href="{{base_path}}/kirjautuminen">Kirjaudu sisään</a>
        
        
    </div>
    
    <div id="main-container">
    
      {% block content %}
      {% endblock %}
    </div>

</html>
