<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Todistukset</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Todistukset luokittain</div>
        <ul>     
    <li><a href="{{base_path}}/kirjautuminen">Kirjaudu sisään</a> </li>
    <li><a href="{{base_path}}/uusiopettaja"> Rekisteröidy</a></li>
    <li><a href="{{base_path}}/oppilaat"> Oppilaat </a></li>
    <li><a href="{{base_path}}/uusioppilas"> Lisää oppilas</a></li>
    <li><a href="{{base_path}}/aineenluonti"> Lisää arvioita oppiaine</a></li>
    
        </ul>  
       
    </body>
</html>
