{% extends "base.html" %}
{% block content %}


        <div>Todistukset luokittain</div>
        
        {% for oppilas in oppilaat %}
        <a>{{oppilas.luokka}}</a>
        {% endfor %}
        
        <ul>     
    
    <li><a href="{{base_path}}/oppilaat"> Oppilaat </a></li>
    <li><a href="{{base_path}}/uusioppilas"> Lisää oppilas</a></li>
    <li><a href="{{base_path}}/aineenluonti"> Lisää arvioita oppiaine</a></li>
    <li><a href="{{base_path}}/oppiaineet"> Oppiaineet</a></li>
    
    
    <li><a href="{{base_path}}/kirjautuminen">Kirjaudu sisään</a> </li>
    <li><a href="{{base_path}}/rekisteroidy"> Rekisteröidy</a></li>
    
        </ul>  
        
    <form class="navbar-form" method="post" action="{{base_path}}/logout">
        <button type="submit" class="btn btn-default"> Kirjaudu ulos </button>
    </form>
{% endblock %}       