<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Todistus</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="../css/bootstrap.css" rel="stylesheet">
        <link href="../css/bootstrap-theme.css" rel="stylesheet">
        <link href="../css/main.css" rel="stylesheet">
    </head>
    <body>
  <div class="container">
    <h1>Kirjaudu sisään</h1>
    <form class="form-horizontal" role="form" action="lomake.html" method="POST">
      <div class="form-group">
        <label>Käyttäjätunnus</label>
        <div class="col-md-10">
            <input type="text" name="tunnus">
        </div>
      </div>
      <div class="form-group">
        <label>Salasana</label>
        <div class="col-md-10">
            <input type="text" name="salasana">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="button" class="btn btn-default">Kirjaudu sisään</button></a>
            <button type="button" class="btn btn-default">Uusi opettaja</button></a>
        </div>
      </div>
    </form>
  </div>
</body>
</html>
