{% extends "base.html" %}
{% block content %}



<div class="form-group">
  <label>Valitse luokka</label>
  
 <form method="post" action="{{base_path}}/oppiaine/{{oppiaineen_nimi}}/{{luokka.luokka}}/arvioi" style="display: inline-block">
  <select class="form-control" name="luokka">
    {% for luokka in luokat %}
    
      <option value="{{luokka.luokka}}">{{luokka.luokka}}</option>
      
    {% endfor %}
  </select>
  
  <button type="submit" class="btn-default">Seuraava</button>
      
          
  </form>
</div>



{% endblock %}