{% extends "base.html" %}
{% block content %}

<div class="container">
    <h1>Muokkaa oppilaan tietoja</h1>
    
    <form method="POST" action="{{base_path}}/oppilas/{{oppilas.id}}/muokkaa">
        <label>Etunimi</label>
        <input name="etunimi" class="form-control" type="text" value="{{oppilas.etunimi}}">
        
        <label>Sukunimi</label>
        <input name="sukunimi" class="form-control" type="text" value="{{oppilas.sukunimi}}">
        
        <label>Luokka</label>
        <input name="luokka" class="form-control" type="text" value="{{oppilas.luokka}}">
        
        <button class="form-control" type="submit">Tallenna muokkaukset </button>
    </form>
    
</div> 

<div>
    
    
</div>


{% endblock %}
