{% extends "base.html" %}
{% block content %}

  <div class="container">
    <h1>Arvosanan antaminen</h1>
    <form class="form-horizontal" role="form" action="{{base_path}}/oppiaineet" method="POST">
        
      <div class="form-group">
        <label>Luokka: {{luokka}}  Oppiaine: {{oppiaineen_nimi}}</label>
        <input name="oppiaineen_nimi" type="hidden" value="{{oppiaineen_nimi}}">
      </div>
        
        <table>
            <thead>
                <tr>
                    <th>Etunimi </th>
                    <th>Sukunimi </th>
                    <th>Opiskelijanumero </th>
                    <th>Arvosana</th>
                </tr>
            </thead>
            
            <tbody>
                
                {% for oppilas in luokanoppilaat %}
                <tr>
                <td>{{oppilas.etunimi}}</td>
                <td>{{oppilas.sukunimi}}</td>
                <td>{{oppilas.id}}</td>
            <input name="oppilas_id[]" type="hidden" value="{{oppilas.id}}">
                <td><input name="arvosana[]" class="form-control" type="text" value="{{attributes.arvosana}}"></td>    
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Tallenna arvosanat</button>
        </div>
      </div>
    </form>
  </div>


{% endblock %}