{% extends "base.html" %}
    {% block content %}
  <div class="container">
    <h1>Uusi oppilas arvioitavaksi</h1>
    <form action="{{base_path}}/uusioppilas" method="POST">
      <div class="form-group">
          <label>Oppilaan etunimi</label><br>
            <input type="text" name="etunimi">
      </div>
        <div class="form-group">
            <label>Oppilaan sukunimi</label><br>
       
            <input type="text" name="sukunimi">
      </div>
      <div class="form-group">
          <label>Luokka</label><br>
      
            <input type="text" name="luokka">

      </div>  
    
      <div class="form-group">
            <button type="submit" class="btn btn-default">Luo oppilaan tiedot</button>

      </div>
    </form>
  </div>

{% endblock %}