{% extends "base.html" %}
{% block content %}
       
    
    
        <div>Oppilaat</div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Etunimi</th>
                    <th>Sukunimi</th>
                    <th>Luokka</th>
                    <th>Opiskelijanumero</th>
                    <th></th>
                    <th></th>
                </tr>   
            </thead>
            
            <tbody>
                
                {% for oppilas in oppilaat %}
                <tr>
                    
                    <td>{{oppilas.etunimi}}</td>
                    <td>{{oppilas.sukunimi}}</td>
                    <td>{{oppilas.luokka}}</td>
                    <td>{{oppilas.id}} </td>
                    
                    
            <form method="post" action="{{base_path}}/oppilas/{{oppilas.id}}/poistaOppilas" style="display: inline-block">
                <td><button type="submit" class="btn btn-default">Poista</button></td>
            </form>
            
            <form method="get" action="{{base_path}}/oppilas/{{oppilas.id}}/muokkaa" style="display: inline-block">
                <td><button type="submit" class="btn btn-default">Muokkaa</button></td>
            </form>
            
                    
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
{% endblock %}
